@import "normalize";
@import "susy";

body {
	background: #eee;
	@include container(60em);
}

main {
	border: 1px solid red;
	h1 {
		color: red;
	}
	p {
		color: blue;
	}
}

aside {
	border: 1px solid blue;
	h1 {
		color: green;
	}
	p {
		color: orange;
	}
}